body{
    background-image: url('hatterkep.jpg');
    max-height: 1000px;
    }
    table{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 20px;
    }
    /* az egész */
    .content{
        width: 1000px;
        margin: 50px auto;
        border: 2px dotted greenyellow;
        border-radius: 30px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;
        padding: 20px;
        color: azure;
        height: 750px;
    }
    /* ami a bennerhez tartozik */
    .banner{
        width: 300px;
        background-color: #282828;
        border-radius: 10px;
        margin: 0 auto;
    }
    .banner h1{
        text-align: center;
        font-size: 50px;
        font-family: 'Manrope';
    }
    .banner img{
        width: 350px;
        height: 350px;
    }
    .burger-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #282828;
        border-radius: 15px;
        margin-top: 0px;
        box-shadow: 0 0 20px #3de29d, 0 0 10px #3de29d;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        perspective: 1000px;
        position: absolute;
        transform: translate(-10%, 10%);
      }
      .burger-card:hover{
        box-shadow: 0 0 40px #3de29d, 0 0 20px #3de29d;
      }
      .burger-card-inner {
        transform-style: preserve-3d;
        transition: transform 0.2s;
        animation: rotation 10s infinite linear;
      }
    /* ami a menühöz tartozik */
    .menu{
     width: 100%;
     margin: 20px auto;
     border-radius: 10px;
    }
    nav ul{
        text-decoration: none;
        list-style-type: none;
    }
    nav li{
        float: left;
        font-size: 30px;
        margin-left: 15px;
    }
    nav a{
        color: azure;
        text-decoration: none;
    }
    nav a:hover{
        color: black;
        border-radius: 10px;
        background-color: #3de29d;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;
    }
    nav li:hover{
        background-color: #3de29d;
        color: black;
        border-radius: 10px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;
        background-size: 600% 600%;
        animation: gradient 6s ease infinite;
        transform: scale(1.00) translateY(-5px);
    }
    .link{
        margin: -0px -40px;
        color: black;
        text-decoration: none;
    }
    .drop{
        display: inline-block;
        position: absolute;
        text-decoration: none;
    }

    .box{
        display: none;
        position: absolute;
        width: 190px;
        background-color: #282828;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;
        border-radius: 20px;
        transform: translate(-35%, -1%);
        text-align: center;
        padding: 10px;
        overflow: hidden;
        transition: background-color 0.3s ease;
        
    }
    .box:hover{
        box-shadow: 0 0 40px #3de29d, 0 0 20px #3de29d;
    }
    .boxszoveg{
        font-family: 'Manrope';
        color: azure;
        text-align: center;
        cursor: pointer;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .boxszoveg:hover{
        color: black;
        border-radius: 10px;
    }
    .drop:hover .box{
        display: block;
    }
    .itt{
        color: black;
        background-color: #3de29d;
        border-radius: 10px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;
        transform: scale(1.00) translateY(-5px);
    }
    a:active a:visited{
        color: black;
    }
    /* ami a cikkhez tartozik */
    .cikk{
        width: 100%;
        border-radius: 10px;
    }
    .cikkbanner{
        margin-top: 100px;
        width: 500px;
        background-color: #282828;
        margin: 0px auto;
        margin-top: 70px;
        font-size: 40px;
        border-radius: 10px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;
        font-family: 'Manrope';
    }
    .cikkszoveg{
        font-family: 'Rubik Wet Paint';
        margin: 250px auto;
        padding: 120px;
        text-align: center;
    }
    .cikkszoveg6{
        background-color: #282828;
        margin: 0px auto;
        margin-top: 30px;
        font-size: 25px;
        border-radius: 10px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;
    }
    p{
        font-size: 20px;
    }
    /* ez a lezáró */
    .lezaro{
        clear: both;
        border: none;
    }
    /* mobile */
    @media (min-width: 320px) and (max-width: 480px) {
        .content{ width: 80%;

    }
    .cikkbanner{
        font-size: 120%;
        height: 400%;
        width: 400%;
        margin: 70px -110px;
        border-radius: 5px;
        text-align: center;
    }
    .cikkszoveg6{
        font-size: 100%;
        height: 100%;
        width: 300%;
        margin: -40px -75px;
    }
    nav li{
        text-align: center;
        margin: -0px 10px;
        margin-right: 10px;
    }
    .banner img{
        width: 80%;
        height: 35%;
    }
    .box{
        width: 170px;
        height: 90px;
        margin: 0 auto;
        transform: translate(-60%, -10%);
        background-color: #282828;
        border-radius: 10px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;

    }
    .boxszoveg{
        font-size: 90%;
    }
}
/* mobile S 320px */
/* mobile */
@media (min-width: 320px) and (max-width: 350px){
    body{
        height: 400px;
    }
    .content{
        width: 79%;
        height: 630px;
    }
    .banner{
        width: 80%;
        }
    .banner h1{
        font-size: 200%;
    }
    nav li{
        text-align: center;
        margin: 0px -5px;
        margin-right: 25px;
        font-size: 25px;
    }
    .banner img{
        width: 250px;
        height: 250px;
        margin: 0 -3px;
    }
    .cikkbanner{
        font-size: 120%;
        height: 400%;
        width: 250px;
        margin: -40px -120px;
        border-radius: 5px;
        text-align: center;
    }
    .cikkszoveg6{
        width: 250px;
        font-size: 100%;
        height: 100%;
        margin: 80px -123px;
    }
    .box{
        width: 120px;
        height: 70px;
        margin: 0 auto;
        transform: translate(-60%, -10%);
        background-color: #282828;
        border-radius: 10px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;

    }
    .boxszoveg{
        font-size: 90%;
    }    
}
/* mobile  */
@media (min-width: 375px) and (max-width: 420px){
    body{
        height: 600px;
    }
    .content{
        width: 80%;
        height: 630px;
    }
    .banner{
        width: 80%;
        }
    .banner h1{
        font-size: 200%;
    }
    nav li{
        text-align: center;
        margin: 0px 10px;
        margin-right: 12px;
        font-size: 25px;
    }
    .cikkbanner{
        font-size: 120%;
        height: 400%;
        width: 250px;
        margin: -20px -103px;
        border-radius: 5px;
        text-align: center;
    }
    .cikkszoveg6{
        width: 250px;
        font-size: 100%;
        height: 100%;
        margin: 50px -103px;
    }
    .box{
        width: 140px;
        height: 70px;
        margin: 0 auto;
        transform: translate(-60%, -10%);
        background-color: #282828;
        border-radius: 10px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;

    }
    .boxszoveg{
        font-size: 90%;
    }    
    .banner img{
        width: 290px;
        height: 280px;
    }
}
/* mobile  */
@media (min-width: 425px) and (max-width: 450px){
    body{
        height: 600px;
    }
    .content{
        width: 80%;
        height: 630px;
    }
    .banner{
        width: 80%;
        }
    .banner h1{
        font-size: 200%;
    }
    nav li{
        text-align: center;
        margin: 0px 17px;
        margin-right: 15px;
        font-size: 27px;
    }
    .cikkbanner{
        font-size: 120%;
        height: 400%;
        width: 250px;
        margin: -20px -80px;
        border-radius: 5px;
        text-align: center;
    }
    .cikkszoveg6{
        width: 250px;
        font-size: 100%;
        height: 100%;
        margin: 50px -82px;
    }
    .box{
        width: 170px;
        height: 80px;
        margin: 0 auto;
        transform: translate(-60%, -10%);
        background-color: #282828;
        border-radius: 10px;
        box-shadow: 0 2px #3de29d, 0 0 10px #3de29d;

    }
    .boxszoveg{
        font-size: 90%;
    }    
    .banner img{
        width: 300px;
        height: 300px;
    }
    .burger-card{
        margin: 0 11px;
    }
}
